<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Password</h1>
    <form action="/newpassword" method="post">
        <input type = "text" name = "website" placeholder="Website">
        <input type = "text" name = "username" placeholder="User Name">
        <input type = "password" name = "password" placeholder="Password">
        <input type = "submit">
    </form>
    <a href="/viewpassword">View Your Passwords</a>
</body>
</html>